<div class="row">
  <div class="col-xs-offset-3 col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading"><h1><%= @idol.idol_name %>の編集</h1></div>
        <div class="panel-body">
          <%= form_for(@idol) do |f| %>
         <div class="form-group">
            <%= f.label :idol_name, 'アイドル名' %>
            <%= f.text_field :idol_name, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :idol_namekana, 'アイドル名(かな)' %>
            <%= f.text_field :idol_namekana, class: 'form-control' %>
          </div>
          
          <div class="idol-formcontent form-group">
            <%= f.label :idol_content, 'アイドル説明' %>
            <div class="text_field">
            <%= f.text_area :idol_content, :size => "10x10",class: 'form-control'  %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :idol_url, 'URL' %>
            <%= f.text_field :idol_url, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :idol_image, '画像' %>
            <%= f.file_field :idol_image%>
            <%= f.hidden_field :idol_image_cache %>
          </div>
          <%= f.submit '変更' %>
          <div>
          <%= link_to '一覧に戻る', idols_url %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
