  <div class="col-md-12 col-sm-6 col-xs-12 ">
<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner"> 
    
    <% unless logged_in? || admin_logged_in? %>
      <div class="cover-comments">
        <h4>あなたのお気に入りのアイドルグループを管理しよう。<br>
            好きなグループを見つけて、行きたい現場をまとめよう。<br>
            好きなグループから繋がる、友達を見つけよう。</h4>
      </div>
    <% end %>
      <div class="cover-contents">
        <h1>あなたの好きなアイドルを<br>管理しよう</h1>
        <% unless logged_in? || admin_logged_in? %>
          <a href="" class="btn btn-success btn-lg" class="navbar-left" >管理する</a>
        <% end %>
      </div>
    </div>
  </div>
        <div class="text-center">
      <%= form_tag(root_path, method: :get, class: 'form-inline') do %>
        <div class="form-group">
          <%= text_field_tag :name, @name, class: 'form-control input-lg', placeholder: "キーワードを入力", size: 40 %>
        </div>
        <%= submit_tag 'アイドルを探す', class: 'btn btn-success btn-lg' %>
      <% end %>
    </div>
<div class="col-xs-8">
  <div class="cover-tabs">
    <ul class="nav nav-tabs nav-justified">
      <li class="<%='activ' if current_page?(root_path) %>"><%= link_to controller: 'toppages', action: 'index' do %><h5>全部</h5><% end %></li>
      <li class="<%='activ' if current_page?(root_path) %>"><%= link_to controller: 'toppages', action: 'index',name_a: 'あ' do %><h5>あ行</h5><% end %></li>
      <li class="<%='activ' if current_page?(root_path) %>"><%= link_to controller: 'toppages', action: 'index',name_ka: 'か' do %><h5>か行</h5><% end %></li>
      <li class="<%='activ' if current_page?(root_path) %>"><%= link_to controller: 'toppages', action: 'index',name_sa: 'さ' do %><h5>さ行</h5><% end %></li>
      <li class="<%='activ' if current_page?(root_path) %>"><%= link_to controller: 'toppages', action: 'index',name_ta: 'た' do %><h5>た行</h5><% end %></li>
      <li class="<%='activ' if current_page?(root_path) %>"><%= link_to controller: 'toppages', action: 'index',name_na: 'な' do %><h5>な行</h5><% end %></li>
      <li class="<%='activ' if current_page?(root_path) %>"><%= link_to controller: 'toppages', action: 'index',name_ha: 'は' do %><h5>は行</h5><% end %></li>
      <li class="<%='activ' if current_page?(root_path) %>"><%= link_to controller: 'toppages', action: 'index',name_ma: 'ま' do %><h5>ま行</h5><% end %></li>
      <li class="<%='activ' if current_page?(root_path) %>"><%= link_to controller: 'toppages', action: 'index',name_ya: 'や' do %><h5>や行</h5><% end %></li>
      <li class="<%='activ' if current_page?(root_path) %>"><%= link_to controller: 'toppages', action: 'index',name_ra: 'ら' do %><h5>ら行</h5><% end %></li>
      <li class="<%='activ' if current_page?(root_path) %>"><%= link_to controller: 'toppages', action: 'index',name_wa: 'わ' do %><h5>わ行</h5><% end %></li>
    </ul>
      <%= render 'idols/idols', idols: @idols %>
  </div>
  </div>
  </div>
<% end %>
