<div class="row">
  <div class="col-xs-offset-3 col-xs-6">
    <div class="panel panel-default">
      <div class="panel-heading">お問い合わせ</div>
      <div class="panel-body">
        <%= form_for(@inquiry) do |f| %>
          <div class="form-group">
            <%= f.label :user, 'お名前' %>
            <%= f.text_field :user, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :email, 'メール' %>
            <%= f.text_field :email, class: 'form-control' %>
          </div>

          <div class="idol-formcontent form-group">
            <%= f.label :content, '内容' %>
            <div class="text_field">
            <%= f.text_area :content,:size => "10x10", class: 'form-control'  %>
            </div>
          </div>
          <div class="text-right">
            <%= f.submit '送信', class: 'btn btn-success form-control' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>