<footer>
    <% if logged_in? %>
    <div class='footer'>
        <ul class="footer_navi text-center">
            <li><%= link_to "トップページ", root_path %></li>
            <li><%= link_to "マイページ", login_path %></li>
            <li><%= link_to 'ランキング',signup_path %></li>
            <li><%= link_to "お問い合わせ", '#' %></li>
        </ul>
    </div>
    <% elsif admin_logged_in? %>
    <div class='footer'>
        <ul class="footer_navi text-center">
            <li><%= link_to "トップページ", root_path %></li>
            <li><%= link_to "アイドル一覧", idols_url %></li>
            <li><%= link_to 'アイドル登録',new_idol_path %></li>
            <li><%= link_to "ログアウト", admin_logout_path %></li>
        </ul>
    </div>
    <% else %>
        <div class='footer'>
        <ul class="footer_navi text-center">
            <li><%= link_to "トップページ", root_path %></li>
            <li><%= link_to "ログイン", login_path %></li>
            <li><%= link_to '新規登録',signup_path %></li>
            <li><%= link_to "管理者ログイン", admin_login_path %></li>
            <li><%= link_to "お問い合わせ", '#' %></li>
        </ul>
    </div>
    <% end %>
    <small>
  <div class="text-center text-muted">© 2018 IDOLIST.</div>
  </small>
</footer>